
nav ul {
	display: flex;
	justify-content: end;
	list-style-type: none;
}

nav ul li a {
	display: inline-block;
	padding: 20px 40px;
	text-transform: uppercase;
	color: white;
	transition: all 0.2s ease;
}

nav ul li a:hover, nav ul li a.active {
	background: rgba(0, 0, 0, 0.2);
	border-color: white;
	color: white;
}
