* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 13px;
}

body {
    display: flex;
    flex-direction: row;
}

body > * {
    flex: 1;
    flex-direction: column;
}

/* Titres */

/*h1 {
    margin-top: 30px;
    padding: 5px 0;
    text-align: center;
    font-size: 130%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-width: 3px;
    border-color: red;
}*/

h1 {
    margin-top: 4vh;
    padding-top: 4vh;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.8);
    text-align: center;
}

init h1 {
    margin-top: 0;
    padding-top: 0;
}

aside h1 {
    margin: 0;
    padding: 30px 0;
    color: rgba(255, 255, 255, 0.8);
    background: rgba(255, 255, 255, 0.1);
}

/*h2 {
    margin: 30px 0 10px 0;
    padding: 5px 0;
    text-align: center;
    font-size: 120%;
    border: 1px solid black;
    background: orange;
}*/

h2 {
    margin: 30px 0;
    padding-top: 30px;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.9);
    font-weight: normal;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

aside h2 {
    margin: 30px 0;
    padding: 0;
    color: white;
    text-align: center;
    border: 0;
    opacity: 0.7;
}

h2 a {
    font-size: inherit;
}

h2 span {
    float: right;
}

/*h3 {
    margin: 20px 0;
    padding-left: 10px;
    font-size: 110%;
    border-left: 10px solid orange;
}*/

/* Liens */

a {
    color: orange;
    text-decoration: none;
    transition: all .1s ease;
}

a:hover {
    color: #343131;
}

a.big {
    padding: 4vh 0;
    line-height: 28px;
    text-align: center;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

a.big:hover {
    color: white;
    border-color: transparent;
    background: rgba(0, 0, 0, 0.7);
}

/* Init */

init {
    flex: 0.75;
    display: flex;
    margin: 0 auto;
    padding: 40px 20px 60px 20px;
}

init table th, init table td {
    padding: 10px;
    min-width: 200px;
    border: 1px solid rgba(0, 0, 0, 0.4);
}

init table th {
    color: white;
    background: #343131;
    border-right-color: rgba(255, 255, 255, 0.4);
}

/* Aside */

aside {
    flex: 0.2;
    background: #343131;
}

aside a {
    display: inline-block;
    padding: 15px 25px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
}

aside a:hover {
    color: rgba(255, 255, 255, 0.7);
    background: rgba(255, 255, 255, 0.13);
    text-decoration: none;
}

aside ol {
    display: flex;
    position: sticky;
    top: -1px;
    flex-direction: column;
    list-style-type: none;
}

aside ol li {
    display: flex;
    flex-direction: column;
}

aside ol li a {
    flex: 1;
}

aside ol li ol {
    display: none;
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
}

aside ol li ol li a {
    padding: 12px 35px;
    border: none;
    color: rgba(0, 0, 0, 0.5);
}

aside ol li ol li a:hover {
    padding-left: 35px;
    border: none;
    color: rgba(0, 0, 0, 0.5);
    background: rgba(0, 0, 0, 0.07);
}

aside ol li.active {
    background: white;
}

aside ol li.active > a {
    font-weight: bold;
    color: black;
}

aside ol li.active ol {
    display: flex;
}

/* Section */

section {
    display: flex;
    flex-direction: column;
    padding: 0 3%;
    padding-bottom: 3%;
}

section.row {
    padding: 3% 0;
    flex-direction: row;
}

section > * {
    flex: 1;
}

/* Article */

article.square {
    display: flex;
    flex-direction: column;
    margin: 0 22%;
}

article.square + article.square {
    margin-left: 0;
}

article.square > * {
    flex: 1;
}

/* Summary */

summary {
    flex: auto;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    color: rgba(0, 0, 0, 0.8);
}

summary * {
    font-size: 26px;
}

summary > * {
    margin: 35px auto;
    padding: 0;
    text-align: center;
}

summary table {
    width: auto;
    border-collapse: separate;
    border-spacing: 50px 0;
}

summary table tr {
    border: 0;
}

summary table th {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

summary table th, summary table td {
    padding: 5px 0;
    text-align: center;
}

/* Listes */

ul {
    margin-top: 10px;
    margin-left: 30px;
}

/* Tableaux */

table {
    width: 100%;
    border-collapse: collapse;
}

table tr {
    border-bottom: 1px solid orange;
}

table td, table th {
    padding: 3px 4px;
    text-align: left;
}

/* Formulaires */

form {
    display: flex;
    flex-direction: column;
}

form field {
    display: flex;
    flex-direction: row;
    line-height: 25px;
    margin-bottom: 15px;
}

form field > * {
    padding: 5px 10px;
}

form field  label {
    padding-left: 0;
}

form field input, form field select {
    text-align: right;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 3px;
    transition: all .1s linear;
}

form field input:focus, form field select:focus {
    border-color: orange;
}

form field > * {
    flex: 1;
}

form field span {
    position: absolute;
    right: 50.5%;
    cursor: pointer;
}

form field ok, form field nok {
    flex: 0;
}

/* Calque */

layer {
    display: none;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
}

layer message {
    display: block;
    width: 15%;
    line-height: 34px;
    margin: auto;
    padding: 30px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50px;
}

layer.displayed {
    display: flex;
}

layer.popup message {
    font-size: 14px;
    width: 25%;
    line-height: 24px;
    text-align: left;
    border-radius: 5px;
}

layer a:hover {
    color: rgba(255, 255, 255, 0.7);
}

/* Autres */

div.pre {
    max-height: 200px;
    padding: 10px;
    font-family: Consolas;
    color: rgba(255, 255, 255, 0.7);
    background: rgba(0, 0, 0, 0.8);
    overflow: auto;
}

a.button, button, input[type=submit] {
    display: inline-block;
    max-width: 50%;
    margin: auto;
    margin-top: 30px;
    text-align: center;
    padding: 15px 20px;
    font-size: 104%;
}

button, a.button {
    padding: 5px 20px;
}

field a.button {
    position: absolute;
}

button, layer button:hover, input[type=submit] {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    background: #343131;
    border: 0;
    border-radius: 5px;
    transition: all .1s linear;
    cursor: pointer;
}

button:hover, layer button, input[type=submit]:hover {
    color: #343131;
    box-shadow: 0 0 0 30px orange inset;
}

input[type=submit][disabled] {
    background: #343131;
    cursor: not-allowed;
    opacity: 0.5;
}

input[type=submit][disabled]:hover {
    color: white;
    box-shadow: 0 0 0 transparent;
}

input[type=disabled] {
    background: transparent;
    border: none;
    color: inherit;
}

ok::before, nok::before, mok::before {
    color: white;
    margin-right: 10px;
    padding: 2px 6px;
    border-radius: 25px;
    opacity: 0.8;
}

ok::before {
    content: "✔";
    background: green;
}

nok::before {
    content: "✘";
    background: red;
}

mok::before {
    content: "✔";
    background: orange;
}

p.success, p.warning, p.danger {
    padding: 15px 20px;
    border-radius: 6px;
    color: rgba(0, 0, 0, 0.7);
    border: 1px solid rgba(0, 0, 0, 0.15);
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
}

p {
    color: rgba(0, 0, 0, 0.8);
}

p.success {
    background: rgb(200, 240, 200);
}

p.warning {
    background: rgb(255, 235, 200);
}

p.danger {
    background: rgb(240, 200, 200);
}

p + p, div.pre + p, table + p, p + table {
    margin-top: 20px;
}

div.pre + p.success {
    margin-top: 0;
    border-top-width: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

div.pre p {
    margin: -18px 0 0 0;
    padding: 2px;
    float: right;
}

tt {
    margin: 0 3px;
    font-family: Courier;
    font-size: 95%;
    opacity: 0.8;
}

buttons {
    display: flex;
    flex-direction: row;
}

buttons > * {
    flex: 1;
    padding: 10px;
}
