
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgba(255, 255, 255, 0.8);
    background: rgb(36, 36, 36);
}

body > section {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 40px auto;
}

section > article {
    margin-bottom: 40px;
    padding: 40px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

section > article:last-child {
    margin-bottom: 0;
}

/* Titres */

h2 {
    margin-bottom: 35px;
    padding-left: 10px;
    border-left: 8px solid rgba(255, 255, 255, 0.2);
    font-size: 110%;
}

h3 {
    font-size: 100%;
    font-weight: normal;
}

/* Listes */

ul {
    margin-left: 30px;
}

ul.wrapper  {
    list-style: none;
    margin: 20px 0 30px 0;
}

ul.wrapper > li {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

ul.wrapper > li > * {
    flex: 1;
}

ul li header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(255, 255, 255, 0.05);
    cursor: pointer;
    transition: all .2s ease;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
}

ul li header > * {
    flex: 1;
    line-height: 35px;
}

ul li header > *:first-child { /* début du header (état) */
    flex: 0.05;
    padding-left: 15px;
}

ul li header > *:last-child { /* fin du header (lien) */
    flex: 0.1;
    margin: 0;
    padding: 0 15px;
    text-align: center;
    background: rgba(0, 0, 0, 0.1);
}

ul li header > *:last-child:hover {
    background: rgba(0, 0, 0, 0.5);
}

ul li:last-child header {
    border-bottom-width: 1px;
}

ul li header:hover, ul li.expand header {
    background: rgba(255, 255, 255, 0.1);
}

ul li section {
    display: none;
    margin-bottom: 10px;
    padding: 13px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(0, 0, 0, 0.075);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.4) inset;
}

ul li.expand section {
    display: block;
}

/* Liens */

a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.4);
    transition: all .2s ease;
}

a:hover {
    color: rgba(85, 163, 252, 0.7);
}

a.macaron {
    padding: 3px 6px;
    vertical-align: baseline;
    font-size: 80%;
    font-weight: bold;
    white-space: nowrap;
    color: rgba(255, 255, 255, 0.9);
    background: rgba(85, 163, 252, 0.7);
    border-radius: 50px;
}

a.macaron:hover {
    background: rgba(59, 137, 226, 0.8);
}

a.help {
    margin-left: 5px;   
    padding: 2px 6px;
    vertical-align: top;
    font-size: 60%;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 50px;
}

/* Tableaux */

table {
    min-width: 45%;
    max-width: 90%;
    margin: 15px auto;
    border-collapse: collapse;
}

table tr {
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.05);
}

table tr:nth-child(odd) {
    background: rgba(0, 0, 0, 0.05);
}

table.full.dezoom tr:hover {
    background: rgba(255, 255, 255, 0.3);
}

table th, table td {
    padding: 6px 8px;
    text-align: left;
}

table th {
    padding-right: 30px;
    font-weight: normal;
    opacity: 0.8;
    white-space: nowrap;
}

/* Formulaires */

input, button, select {
	padding: 8px 10px;
	line-height: 16px;
	border: 1px solid rgba(0, 0, 0, 0.5);
	background: rgba(255, 255, 255, 0.7);
	transition: all .2s ease;
}

select {
    padding: 6.5px 10px;
}

input {
	width: 20%;
}

input.mini {
	width: 4%;
}

input:focus, button:hover {
	border: 1px solid rgba(0, 0, 0, 0.7);
	background: rgba(255, 255, 255, 0.9);
}

button {
	cursor: pointer;
}

/* Mise en page spécifique */

.green {
    color: yellowgreen;
}

.orange {
    color: orange;
}

.red {
    color: brown;
}

.right {
    float: right;
}

.hidden {
	display: none;
}

.full {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
}

.dezoom {
    font-size: 70%;
}

pre {
	padding: 10px;
	background: rgba(0, 0, 0, 0.2);
	overflow: auto;
}

ie { /* id est = càd */
    float: right;
	font-style: italic;
    opacity: 0.7;
}

error::before {
    content: "✘";
    margin-right: 5px;
}

verif::before {
    content: "✔";
    margin-right: 5px;
}

/* Autres */

pre {
	padding: 10px;
	background: rgba(0, 0, 0, 0.2);
	overflow: auto;
}

stars {
    letter-spacing: 10px;
}

stars, type, state {
    text-align: center;
    opacity: 0.6;
}

state {
    text-align: left;
    vertical-align: middle;
    font-size: 50%;
}

legend {
    float: right;
    opacity: 0.7;
}

legend span {
    cursor: help;
    margin-left: 10px;
}

legend state {
    padding-bottom: 3px;
}

span info {
    display: none;
    position: absolute;
    padding: 5px;
    font-size: 80%;
    font-weight: normal;
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
}

span:hover info {
    display: block;
}

#records button {
	padding: 5px;
	font-size: 70%;
	opacity: 0.7;
}

#res {
	padding: 0;
}
